/* Définition des variables globales pour les couleurs, la police, etc. */
:root {
  --primary-color: #052c56; /* Couleur principale */
  --button-hover-color: #052c56; /* Couleur au survol des boutons */
  --text-color: #333; /* Couleur du texte */
  --font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /* Police globale */
  --menu-hover-color: #3280d3; /* Couleur au survol des liens du menu */
}

/* Initialisation du style de la page pour éviter les erreurs de margin et padding */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--font-family);
  background-color: white;
}

/* Barre de navigation et header */
#nav-bar {
  background-color: var(--primary-color);
  color: white;
  width: 100%;
  padding: 2% 0;
  position: fixed;
  top: 0;
  z-index: 1000;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* Style pour le logo ("sonus-imaginari") */
.navbar-logo h1 {
  margin: 0 3%;
  font-family: Arial, sans-serif;
  font-size: 1.7em;
  letter-spacing: 3px;
  color: white;
}

/* Styles pour les icônes du header */
.top-icons {
  position: absolute;
  top: 20px;
  right: 3%;
}

/* Pages dont il n'y a qu'une icone */
.top-icons.--solo-icon{
  position: relative;
  top: 0;
  margin: auto;
}

.top-icons.--solo-icon .dropdown{
  height: auto;
}

/* Styles pour chaque icône (et non tout le groupe d'icônes avec .top-icons) */
.icon {
  width: 40px;
  height: 40px;
  margin: 0 20px;
  cursor: pointer;
  transition: transform 0.9s ease, opacity 0.5s ease;
}

.icon:hover, .icon:active {
  transform: scale(1.2);
  opacity: 0.8;
}


/* Styles pour le menu déroulant (icône + liens) */
.dropdown {
  position: relative;
  display: inline-block;
  height: 50px;
}

/* Styles pour le menu déroulant qui doit apparaître uniquement au survol de la souris */
.navigation-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: -45px;
  background-color: var(--primary-color);
  width: 150px;
  padding: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  z-index: 1;
  border-radius: 8px;
  transition: opacity 0.9s ease-in-out;
  opacity: 0;
  transform-origin: top;
  transform: scaleY(0);
}

/* Affiche le menu déroulant au survol de la souris */
.dropdown:hover .navigation-menu, .dropdown:active .navigation-menu {
  display: block;
  opacity: 1;
  transform: scaleY(1);
}

/* Style pour les liens de navigation */
.navigation-links {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

/* Style pour un lien de navigation */
.navigation-links li {
  margin: 20px 30px;
  padding: 10px;
  cursor: pointer;
  transition: color 0.3s;
  color: white;
}

/* Change la couleur du texte lorsque la souris survole un lien */
.navigation-links li:hover,
.navigation-links li:active {
  color: var(--menu-hover-color);
}

/* Styles pour le main */
.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  padding-top: 6%;
  color: var(--text-color);
}

/* Styles pour la section vidéo */
.camera {
  padding: 1%;
  width: 80%;
  max-width: 100%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  background-color: #000;
  width: 100%;
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Style pour les boutons de controle (enregistrement et démarrage du programme) */
.controls {
  text-align: center;
  margin-top: 2%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

/* Style pour les boutons de controle (enregistrement et démarrage du programme) */
.btn-action,
#recordButton {
  margin-bottom: 20px;
  padding: 6% 12%;
  font-size: 1em;
  cursor: pointer;
  background-color: var(--primary-color);
  color: white;
  border: none;
  border-radius: 0.5%;
  outline: none;
  transition: background-color 0.2s ease-in-out;
}

.btn-action:hover,
#recordButton:hover,
.btn-action:active,
#recordButton:active {
  background-color: var(--button-hover-color);
}

/* Styles pour les boutons et les séparateurs */
#recordButton,
.btn-action {
  border-radius: 4px;
}

canvas {
  display: none;
}

.button-separator {
  margin: 0 5px;
}

/* Media queries pour les écrans larges (responsive) */
@media (min-width: 1080px) {
  .navigation-links li {
      margin: 0 2%;
  }

  .camera {
      width: 60%;
  }
}

/* Styles pour les sections 'À propos de nous', 'FAQ', etc. */
.presentation,
.about-section,
.client-section {
  text-align: left;
  margin: 30px;
  margin-top: -10px;
  padding: 20px;
}

.presentation h2,
.about-section h2,
.team-section h3,
.client-section h3 {
  font-size: 2.5em;
  color: var(--primary-color);
  text-align: left;
}

.presentation p,
.about-section p,
.about-section li,
.client-section p {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
}

.team-section li {
  font-size: 1.2em;
  line-height: 1.6;
  color: #555;
}

/* TODO :: mettre un margin sur le bon component */
.main-content {
  padding-top: 100px;
}

/* Style faq */
.faq-section {
  margin: 20px;
}

.faq-question {
  cursor: pointer;
  color: var(--primary-color);
  margin-bottom: 5px;
}

.faq-answer {
  display: none;
  padding-left: 20px;
  color: var(--text-color);
}

.faq-item:hover .faq-question, .faq-item:active .faq-question {
  text-decoration: underline;
}

.container {
  padding-top: 100px;
}

/* Pop-up pour mobile quand on clique sur l'enregistrement */
.comming-soon{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  width: 100%;
  transition: all 0.7s;
}

.comming-soon-active{
  visibility: visible;
  background-color: rgb(207, 85, 109);
  border-radius: 5px;
  padding: 1rem;

  text-align: center;
}

.comming-soon-disabled{
  visibility: hidden;
}

/* Responsive pour le header */
@media screen and (max-width: 768px) {
  #nav-bar{
    display: flex;
    margin: auto;
  }

  #nav-bar .navbar-logo {
    margin: 0 5%;
  }
  
}